<div
  fxLayout="row"
  fxLayoutAlign="center"
  fxLayout.xs="column"
  fxLayout.sm="column"
  style="margin-top:15vh"
>
  <div fxFlex="30%">
    &nbsp;
  </div>
  <div fxFlex="40%">
    <div
      fxLayout="row"
      fxLayoutAlign="center"
      fxLayout.xs="column"
      fxLayout.sm="column"
      class="login-main"
    >
      <div fxFlex>
          <form #heroForm="ngForm">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Login Page</mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayout="column">
            <mat-form-field>
              <input matInput name="email" [(ngModel)]="model.email" placeholder="Email" #name="ngModel" />
            </mat-form-field>
            <mat-form-field>
              <input type="password" name="passwords" matInput [(ngModel)]="model.passwords"
               placeholder="password" #name="ngModel" />
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-raised-button color="primary" (click)="login()">Login</button>
          </mat-card-actions>
        </mat-card>
      </form>
      </div>
    </div>
  </div>
  <div fxFlex="30%">
    &nbsp;
  </div>
</div>
